html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
}
body{
    width: 100%;
    margin: 0; padding: 0;
    background: #1c1c1c;
    text-align: center;
}
.clear{clear: both!important;}

.center-text{text-align: center!important;}
.left-text{text-align: left!important;}
.right-text{text-align: right!important;}

/*classes for text colors*/
.black, .black-text{color: #000;}
.grey, .grey-text{color: #767676}
.white, .white-text{color: #ffffff;}


nav.navbar{
    height: 87px!important;
    background: rgb(31, 35, 37);
    border:none;
    border-top: #14dfb4 6px solid!important;
}
.container-fluid{
    max-width: 1230px;
    width: 100%;
    /*border: red 1px solid;*/
}

.container-fluid .navbar-header{
    padding: 30px 15px!important;
}

.container-fluid .navbar-header a:hover{
    text-decoration: none;
}

.container-fluid ul.nav{
}
.container-fluid ul.nav li{
    display: inline-block;
}
.container-fluid ul.nav li a{
    color: #cccccc;
    display: inline-block;
    padding: 30px 27px;
 }

.container-fluid ul.nav li a:hover{
    color: #ffffff;
    /*border: #fff 2px solid;
    border-radius: 5px;*/
    background: #01ba7a;
    padding: 30px 27px;
    /*background: -webkit-linear-gradient(top,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Safari 5.1-6*/
    /*background: -o-linear-gradient(bottom,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Opera 11.1-12*/
    /*background: -moz-linear-gradient(bottom,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Fx 3.6-15*/
    /*background: linear-gradient(to bottom, rgba(0,186,172,0), rgba(0,186,172,0.5)); *//*Standard*/
}

#main-wrapper{
    position: absolute;
    top: 80px;
    width: 100%;
    min-height: 800px;
    margin: 0 auto;
    text-align: center;
}
.container{
    position: relative;
    display: block;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.container.login-container{
    margin-top: 8%!important;
}

#login-form{
    position: relative;
    width: 780px;
    display: block;
    margin: 0 auto;
    padding: 100px 100px;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    border: rgba(20, 223, 180, 0.1) 2px solid;
    /*text-align: center;*/
}
.form-intro{
    margin-bottom: 40px;
}
.form-group{
    margin-bottom: 30px!important;
}
.form-group .form-control{
    display: inline-block!important;
    width: 50%!important;
}
.form-group .form-label{
    padding: 6px 0px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #1F2325;*/
    background: rgb(31, 35, 37);
}