html{
    position: relative;
    height: 100%;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    background: #1c1c1c;
    text-align: center;
}
.clear{clear: both!important;}

.center-text{text-align: center!important;}
.left-text{text-align: left!important;}
.right-text{text-align: right!important;}

/*classes for text colors*/
.black, .black-text{color: #000;}
.grey, .grey-text{color: #767676}
.white, .white-text{color: #ffffff;}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
.fullscreen {
    width:100%;
    min-height:100%;
}

nav.navbar{
    height: 87px!important;
    background: rgb(31, 35, 37);
    border:none;
    border-top: #14dfb4 6px solid!important;
}
.container-fluid{
    max-width: 1230px;
    width: 100%;
    /*border: red 1px solid;*/
}

.container-fluid .navbar-header{
    display: inline-block;
    float: left;
    padding: 28px 15px!important;
}
.container-fluid .navbar-header a.logo{
    font-family: Georgia, Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    color:#14dfb4!important;
}

.container-fluid .navbar-header a:hover{
    text-decoration: none;
}
.navigation{
    display: inline-block;
    /*border: yellow 1px solid;*/
}

.container-fluid ul.nav{
    display: inline-block;
    /*border: red 1px solid;*/
}

.container-fluid ul.nav li{
    display: inline-block;
}

.container-fluid ul.nav li a{
    color: #cccccc;
    display: inline-block;
    padding: 30px 27px;
 }

.container-fluid ul.nav li a:hover{
    color: #ffffff;
    /*border: #fff 2px solid;
    border-radius: 5px;*/
    background-color: rgba(0,0,0, 0.1);/*#01ba7a*/
    padding: 28px 27px;
    border-bottom: #14dfb4 4px solid;
    /*background: -webkit-linear-gradient(top,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Safari 5.1-6*/
    /*background: -o-linear-gradient(bottom,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Opera 11.1-12*/
    /*background: -moz-linear-gradient(bottom,rgba(0,186,172,0),rgba(0,186,172,0.5)); *//*Fx 3.6-15*/
    /*background: linear-gradient(to bottom, rgba(0,186,172,0), rgba(0,186,172,0.5)); *//*Standard*/
}
.registration{
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 12px;
    font-style: italic;
    color: #c5dbec;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 22px;
    margin-left: 25px;
    float: right;
    background-color: rgba(0,0,0, 0.1)
    /*border: red 1px solid;*/
}
.registration .login:hover{
    cursor: pointer;
    text-decoration: underline;
}

#main-wrapper{
    position: absolute;
    top: 80px;
    width: 100%;
    min-height: 800px;
    margin: 0 auto;
    text-align: center;
}
.container{
    position: relative;
    display: block;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.container.login-container, .container.home-container{
    margin-top: 2%!important;
}

#home-wrapper{
    /*position: absolute;*/
    /*width: 600px;*/
    max-width: 1230px;
    height: 700px;
    display: block;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    border: rgba(20, 223, 180, 0.1) 2px solid;
}
#login-form{
    position: relative;
    width: 780px;
    display: block;
    margin: 0 auto;
    padding: 100px 100px;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    border: rgba(20, 223, 180, 0.1) 2px solid;
    /*text-align: center;*/
}
.form-intro{
    margin-bottom: 40px;
}
.form-group{
    margin-bottom: 30px!important;
}
.form-group .form-control{
    display: inline-block!important;
    width: 50%!important;
}
.form-group .form-label{
    padding: 6px 0px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #1F2325;*/
    background: rgb(31, 35, 37);
}