<div class="container">

    <div id="login-form" class="row">
        <p class="white-text">Please enter your username and password to log in:</p>
        <div class="col-sm-12 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" ng-model="userInfo.username">
                    <br />
                    <input type="text" class="form-control input-lg text-center" ng-model="userInfo.password">
                </div>
                <button type="button" class="btn btn-primary btn-lg" ng-click="loginUser()">Submit</button>
            </form>
        </div>
    </div>

</div>