<div class="container login-container">

    <div id="login-form" class="row">

        <p class="form-intro white-text">Please enter your username and password to log in:</p>

        <div class="col-sm-12 text-center">
            <form>
                <div class="form-group">
                    <div class="row">
                        <span class="col-sm-4 form-label white-text">Username:</span>
                        <input type="text" placeholder="Enter your username" class="col-sm-8 form-control" ng-model="userInfo.username">
                    </div>
                    <br />
                    <div class="row">
                        <span class="col-sm-4 form-label white-text">Email:</span>
                        <input type="text" placeholder="Enter your password" class="col-sm-8 form-control" ng-model="userInfo.email">
                    </div>

                    <br />
                    <div class="row">
                        <span class="col-sm-4 form-label white-text">Password:</span>
                        <input type="text" placeholder="Enter your password" class="col-sm-8 form-control" ng-model="userInfo.password">
                    </div>

                    <br />
                    <div class="row">
                        <span class="col-sm-4 form-label white-text">Repeat Password:</span>
                        <input type="text" placeholder="Enter your password" class="col-sm-8 form-control" ng-model="userInfo.repeatPassword">
                    </div>
                </div>

                <button type="button" class="btn btn-default" ng-click="registerUser()">Submit</button>
            </form>
        </div>
    </div>

</div>